// splash screen
.splash-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;

  background-color: $light-blue;
  .logo {
    width: 115px;
    height: 115px;
    margin-top: -40px;

    background-image: url(/assets/images/logo3.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
}
