.search-letter {
  display: flex;
  padding: 0 16px;
  flex-flow: row wrap;
  &-item{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #656565;
    span{
      display: inline-block;
      transition: 0.1s all ease-out;
    }
    &.flex3 {
      flex: 3;
    }
    &.selected {
      font-weight: bold;
      color: #468ee5;
      span{
        transform: scale(1.3);
      }
    }
  }
}