.search-letter {
  display: flex;
  height: 22px;
  padding-top: 10px;
  line-height: 22px;
  padding: 10px 16px 0;
  flex-flow: row wrap;
  &-item{
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #656565;
    span{
      display: inline-block;
      transition: 0.1s all ease-out;
    }
    &.flex2 {
      font-size: 14px;
      flex: 2;
    }
    &.selected {
      font-weight: bold;
      color: #468ee5;
      span{
        transform: scale(1.2);
      }
    }
  }
}