.search-letter {
  display: flex;
  padding: 0 16px;
  flex-flow: row wrap;
  &-item{
    flex: 1;
    width: 20px;
    text-align: center;
    text-decoration: none;
    color: #656565;
    transition: 0.1s all ease-out;
    &.flex3 {
      flex: 3;
    }
    &.selected {
      font-weight: bold;
      color: #468ee5;
      transform: scale(1.3);
    }
  }
}