.popover{
  &-outer{
    position: relative;
  }
  &-con{
    position: absolute;
    z-index: 10000;
    min-width: 250px;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    &.hide{
      display: none;
    }
    .arrow{
      position: absolute;
      width: 11px; 
      height: 22px; 
      left: -11px;
      &::after, &::before{
        display: block;
        width: 0px;
        height: 0px;
        content: ' ';
        border: 10px dashed transparent;
        border-left-width: 0px;
        border-right: 10px solid #fff;
      }
      &::before{
        border-width: 11px 11px 11px 0;
        border-right: 11px solid rgba(0, 0, 0, 0.3);
      }
      &::after {
          position: absolute;
          z-index: 1;
          right: 0px;
          top: 1px;
      }
    }
  }
  &-scroll {
    overflow: auto;
  }
}