.tab {
    margin: 0 20px;
    &-top {
        position: relative;
        border-bottom: 1px solid #aaa;
        &-item {
            display: inline-block;
            height: 30px;
            padding: 0 10px;
            font-size: 14px;
            color: $modal-text-color;
            line-height: 30px;
            text-decoration: none;
            &__active {
                color: $dark-sky-blue;
            }
        }
        &-line{
            position: absolute;
            height: 2px;
            background: $dark-sky-blue;
            bottom: 0px; 
            transition: all 0.3s ease-out;
        }
    }
    &-con {
        &-item {
            display: none;
            &__show{
                display: block;
            }
        }
    }
}